@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@400;700;900&display=swap");

/* Ensure the body and html fill the entire viewport */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html {
  background: linear-gradient(#80FFDB, #64DFDF, #48BFE3, #5390D9, #5E60CE);
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.blue {
  color: rgb(0, 107, 247);
}

.container {
  padding: 50px 40px;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.link__hover-effect {
  position: relative;
}
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--black:after {
  background-color: black;
}
.link__hover-effect--white:after {
  background-color: white;
}

.button__hover-effect:hover {
  background-color: #0008ed;
}

/* 

NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  margin: 0 auto;
}

.nav__icon--text {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.nav__icon--text i {
  margin-right: 12px;
}

.nav__icon--img {
  max-height: 50px;
  max-width: 50px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  font-weight: 700;
}

.nav__link--contact {
  padding: 10px 15px;
  background-color: rgb(0, 107, 247);
  border-radius: 20px;
  color: white;
  transition: all 300ms ease;
}

/* 

LANDING PAGE

*/

.main__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__heading {
  font-size: 50px;
}

/* SEARCH SECTION */
.search-button {
  border: none;
  padding: 15px 40px;
  border-radius: 999px;
  font-size: 20px;
  margin-top: 50px;
  background-color: rgb(0, 107, 247);;
  color: white;
  font-weight: 700;
  transition: all 300ms ease;
}



.landing-page {
  height: 100vh;
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer__logo {
  height: 50px;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.footer__link {
  margin: 0 20px;
}

/* 

RESPONSIVE 

*/

/* Tablets and below */
@media (max-width: 768px) {
  .main__heading {
    font-size: 40px;
  }
}

/* Mobile Phones */

@media (max-width: 576px) {
  .main__heading {
    font-size: 30px;
  }
}